<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Google -->

    <meta name="robots" content="translate" />
    <meta name="googlebot" content="translate" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-2VPDHZ7VWL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2VPDHZ7VWL");
    </script>
    <!-- Hotjar Tracking Code for http://www.lucasvittaz.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3036669,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Primary Meta Tags -->

    <title>Lucas Vittaz - Fullstack Developper</title>
    <link rel="shortcut icon" href="/img/logo/onglet-min.webp" />
    <meta name="title" content="Lucas Vittaz - Fullstack Developper" />
    <meta
      name="description"
      content="Portfolio of Lucas Vittaz a web developer and web designer. From design to development, I create tailor-made websites and web applications."
    />
    <meta
      name="keywords"
      content="web developper, développeur web, frontend, backend, fullstack, nantes, le wagon"
    />

    <!-- Open Graph / Facebook -->

    <meta property="og:type" content="Lucas Vittaz - Fullstack Developper" />
    <meta property="og:url" content="https://www.lucasvittaz.com/" />
    <meta property="og:title" content="Lucas Vittaz - Fullstack Developper" />
    <meta
      property="og:description"
      content="Portfolio of Lucas Vittaz a web developer and web designer. From design to development, I create tailor-made websites and web applications."
    />
    <meta property="og:image" content="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160364/portfolio/Union_1_v3jawm.png" />

    <!-- Twitter -->

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.lucasvittaz.com/" />
    <meta
      property="twitter:title"
      content="Lucas Vittaz - Fullstack Developper"
    />
    <meta
      property="twitter:description"
      content="Portfolio of Lucas Vittaz a web developer and web designer. From design to development, I create tailor-made websites and web applications."
    />
    <meta property="twitter:image" content="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160364/portfolio/Union_1_v3jawm.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>


  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/banner" %>
    <%= yield %>
     <%= render "shared/footer" %>
  </body>
</html>
